<p>heroes works!</p>

<!-- pipe通道 -->
<!-- <p>{{hero | json}}</p> -->

<!-- 渲染数据 -->
<!-- <p>{{hero.id}}</p>
<p>{{hero.name}}</p> -->

<!-- 姓名的编辑 -->
<!-- 数据的双向绑定 -->
<!-- <div>
  <label for="name"></label>
  <input id="name" placeholder="请输入英雄的名字" [(ngModel)]="hero.name" type="text">
</div> -->

<!-- 列表 -->
<h2>My Heroes</h2>

<!-- 详情 -->
<!-- 父组件通过子组件的自定义事件监听 -->
<!-- $event必须要加 -->

<!-- 绑定事件响应,右边表达式为响应的方法，定义在父组件中，$event接收子组件发射的参数 -->
<!-- <app-hero-detail (childBtnEvent)="childClick($event)" [hero]="selectedHero" [test]="666"></app-hero-detail> -->


<!-- list -->
<ul class="heroes">
  <!-- ngFor 循环指令 *为关键词 -->
  <li  *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>


